*.swp
*.bak
*.bakup
*.cache
*.class
*.elc
*.orig
.DS_Store
.emacs.desktop*
.python-environments
.persistent-scratch
.recentf
.svn
.yas-compiled-snippets.el
*~
.#*
\#*\#
ac-comphist.dat
eshell/
kkcrc
network-security.data
node_modules
package-lock.json
tramp
/auto-save-list
/backup
/.cask
/ede-projects.el
/elpa
/history
/image-dired
/semanticdb
/srecode-map.el
/tmp/**
/TAGS
GPATH
GRTAGS
GSYMS
GTAGS
ID
*recentf
session.*
