[submodule "src/yasnippet.git/java-mode"]
 path = src/yasnippet.git/java-mode
 url = https://github.com/nekop/yasnippet-java-mode.git

[submodule "src/yasnippet.git/css-scss-yasnippet"]
 path = src/yasnippet.git/css-scss-yasnippet
 url = https://github.com/ShingoFukuyama/css-scss-yasnippet.git

[submodule "src/node"]
	path = share/node
	url = https://github.com/joyent/node.git
[submodule "src/emacs"]
	path = src/emacs
	url = git://git.savannah.gnu.org/emacs.git
[submodule "emacs"]
	shallow = true
